$primary: #e50914;
$primary-hover: #bf000a;
$white: #ffffff;
$body-bg: #141414;
$body-text: #D1D0CF;
$form-gradient-color: rgba(11, 1, 2, 0);
$to-gradient-color: rgba(255, 55, 65, 0.3);
$header-bg: #1e2024;