@import '@assets/scss/helpers/index';

.heading {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
    border-left: 5px solid $primary;
    color: $white;
    background: transparent linear-gradient(270deg, $form-gradient-color 0%, $to-gradient-color 100%);
    padding: 10px 10px 10px 15px;

    &.small {
        font-size: 36px;
    }

    @media (max-width: 1199px) {
        font-size: 45px;

        &.small {
            font-size: 30px;
        }
    }

    @media (max-width: 991px) {
        font-size: 40px;
    }

    @media (max-width: 767px) {
        font-size: 30px;
        padding: 5px 5px 5px 10px;

        &.small {
            font-size: 22px;
        }
    }
}